<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %} | プログラミング練習用ブログ</title>

  <link href="{% static 'blog/css/main.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'blog/css/responsive.css' %}" rel="stylesheet">
  <link rel="icon" href="{% static 'blog/img/favicon.png' %}">
  <meta name="google-site-verification" content="-tQjqwkgnz86f6lfuYXry64Et6wys1TtysdUDscovp8" />
</head>

<body>

  {% block header %}
  <header>
    <div class="container">
      <span class="header-title">
        <a href="{% url 'list' %}">ブログ</a>
      </span>
      <span class="query">
        <form method="get" action="{% url 'list' %}">
          <input type="text" name="keyword" value="{{ request.GET.keyword }}" placeholder="記事を検索する">
          <input type="submit" value="検索">
        </form>
      </span>
    </div>
  </header>
  {% endblock %}

  {% block main %}
  <div class="wrapper">
    <div class="container">
      <div class="info">
        <div class="contents">
          <div class="contents-container">
            {% block content %}
            {% endblock %}
          </div>
        </div>
        <div class="subinfo">
          <div class="subinfo-container">
            <h3>このブログについて</h3>
            <p>
              当ブログはプログラミング練習の一環として、学んだことを実践的に生かせるような場をつくるために出来上がったブログサイトです。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block footer %}
  <footer>
    <div class="container">
      <div class="query">
        <form method="get" action="{% url 'list' %}">
          <input type="text" name="keyword" value="{{ request.GET.keyword }}" placeholder="記事を検索する">
          <input type="submit" value="検索">
        </form>
      </div>
      <div class="admin">
        {% if user.is_authenticated %}
        <a href="{% url 'user_menu' %}">管理者メニュー</a>
        <a href="{% url 'logout' %}">ログアウト</a>
        {% else %}
        <a href="{% url 'login' %}">管理者ログイン</a>
        {% endif %}
      </div>
    </div>
  </footer>
  {% endblock %}

</body>

</html>