{% extends 'base.html' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
<div class="blog-detail">
  <h3>{{ blog.title }}{% if not blog.is_public %}(非公開){% endif %}</h3>
  <div class="blog-detail-subinfo">
    {% if blog.category %}
    カテゴリー:<a href="/?keyword={{ blog.category }}">{{ blog.category }}</a>
    {% endif %}
    更新日時:{{ blog.published_at }}&emsp;
  </div>
  <div class="blog-detail-content">
    {% for blog_part in blog.sort_content %}
    {% cycle blog_part|linebreaksbr blog_part|safe %}
    {% endfor %}
  </div>
  <div class="blog-detail-back-list">
    {% if user.is_authenticated %}
    <a href="{% url 'edit' blog.id %}">編集</a>
    {% endif %}
    <a href="{% url 'list' %}">一覧に戻る</a>
  </div>
</div>
{% endblock %}