{% extends 'base.html' %}

{% block title %}一覧{% endblock %}


{% block content %}
  <div class="content-title">記事一覧</div>
  <div class="content-list">
    {% for blog in blogs %}
      <div class="blog-info">
        <div class="blog-info-title">
          <a href='{% url "detail" blog.id %}'>
            {{ blog.title }}
          </a>
        </div>
        <div class="blog-info-content">
          {{ blog.content }}
          <a href='{% url "detail" blog.id %}'>続きを読む</a>
        </div>
        <div class="blog-info-published_at">
          {{ blog.published_at.date }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
